@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

#EditNav {
	list-style-type: none;
	margin-left: 0px;
	margin-top: 25px;
	margin-bottom: 0px;
	padding: 0px;
	text-align: center;
}

li {
	display: inline-block;
	font-family: Franklin Gothic Medium;
}

a.BlockON {
	display: block;
	width: 120px;
	background-color: #4C4C4C;
	color: #DADADA;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px
}

a.Block:link, a.Block:visited {
	display: block;
	width: 120px;
	background-color: #232323;
	color: #DADADA;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px
}

a.Block:hover, a.Block:active {
	background-color: #4C4C4C;
}

#Content {
	height: 625px; 
	background-color: #F5F5F5;
	text-align: left;
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 46.9px;
	font-family: Franklin Gothic Medium;
}

#slide {
	margin-left: 220px;
	margin-top: 100px;
}

#footer {
	color: #F5F5F5;
	text-align: center;
	font-family: Franklin Gothic Medium;
	background: #232323;
	width:100%;
	height:50px;
	position:absolute;
	bottom:0;
	left:0;
}