#box1 {
	width: 150px;
	height: 150px;
	background-color: blue;
}

#box2 {
	width: 150px;
	height: 150px;
	background-color: yellow;
}

#box3 {
	width: 150px;
	height: 150px;
	background-color: red;
}